/* seletor * que referecia todos os elementos 
    A propriedade CSS box-sizing é utilizada para alterar a propriedade padrão da box model, usada para calcular larguras (widths) e alturas (heights) dos elementos.
    (border-box)->box-sizing: border-box; que indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding. Se quiser um extra
    (Content-box)->Essa é o estilo padrão, conforme especificado pela norma CSS. As propriedades width (largura) e height (altura) são medidas incluindo só o conteúdo, mas não o padding, border ou margin. Nota: Padding, border e margin serão fora da box. Exemplo.: Se .box {width: 350px} então se você aplicar uma propriedade {border: 10px solid black;} o resultado renderizado no navegador (browser) será .box {width: 370px;}*/
* {
    box-sizing: border-box; 
}
/* agrupamento de seletores, tanto por id#
quanto por classe.
A propriedade font-family do CSS permite que se faça uma lista de prioridades de familias de fontes e/ou nomes genéricos de famílias a serem especificados para um elemento selecionado. Ao contrário da maioria das demais propriedades CSS, os valores são separados por vírgula para indicar quais são as alternativas.
sempre colocar o nome das fonte desejadas por prioridades caso elas não seja carregadas, sempre terminar com uma genrica com ou sem serifa*/
#titulo, .destaque, .passo-a-passo, .inicio{
    font-family: "Trebuchet", Geneva, Tahoma, sans-serif;
}
/* seletores por classes css
o background -color serve para atribuir cor ao plano de fundo
A propriedade color do CSS definine o valor da cor de um elemento com seu conteúdo em texto e seus decorações (estilos)*/
#titulo{
    background-color: chartreuse;
    color: black;
}
/*(font-siz)-> A propriedade font-size é usada para indicar o tamanho da letra(fonte) em CSS. Este tamanho poderá ser especificado em várias unidades de medidas. Normalmente as unidades de medidas são relativas, como pixel e porcentagem e absolutas, como point e centímetros.
(Font-style)-> Essa propriedade é usada para definir o estilo da fonte. Ela pode receber o valor normal, italic e oblique. O modo normal deixa a fonte com o estilo padrão, o modo italic deixa a fonte em itálico e o modo oblique deixa a fonte obliquoa
(font-weight)->A propriedade CSS font-weight especifica o peso ou a intensidade da fonte (ex.: negrito). Algumas fontes oferecem apenas as opções normal e negrito.
(text-decoration)->A propriedade text-decoration do CSS é usada para definir a formatação de underline , overline , line-through ou blink . As decorações underline e overline são posicionadas abaixo e acima do texto (respectivamente), e line-through cortando-o. A propriedade text-decoration desenha em elementos descendentes.
(text-align)->A propriedade CSS text-align descreve como conteúdo inline, como texto, é alinhado no elemento pai em bloco. text-align não controla o alinhamento de elementos em bloco, apenas o seu conteúdo inline.
*/
.inicio{
/* color: #ff0000;
font-size: 24px;
font-style: italic;
font-weight: bold; */  
    color: #ff0000;
    font: italic bold 24px;
    text-decoration: underline;
    text-align: center;
/*A propriedade border é uma propriedade para ajustar os valores de propriedades individuais da borda em um único elemento na folha do estilo. border pode ser usado com as seguintes propriedades adicionais: border-width , border-style , border-color*/    
    border-width: thick;
    border-color: #ff0000;
    border-style: dashed;
/*A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top , padding-right , padding-bottom , padding-left )*/
    padding: 20px 15px;        
}
/* passando a cor por hexadecimal 
aonde dois primeiros numeros representa vermelho
posteriomente verde e azul.*/
.destaque{
    color: #008b8b;;
}
/* passando a cor por rgb aonde
se passa valor para vermelho,verde e azul,
o maxima de valor é 255 por cor*/
.passo-a-passo{
    color: rgb(255, 165, 00)
}
/* seletores descendetes*/
article .continue strong{
    color: black;
}
/* exemplo de seletor article com filhos diretor >
chamado classe .continue que tenha um filho direto > em
*/    
article > .instrucoes > em{
    color: black;
}
/*(padding)-> A propriedade padding define uma a distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top , padding-right , padding-bottom , padding-left )*/
body{
    padding: 0px;
}
/*(list-style-position)-> Este é o efeito da folha de estilo acima: Este item destina-se a demonstrar o valor: "inside" dos marcadores. Aqui mais item para demonstrar o valor:"inside" dos marcadores de listas.*/
.menu{
    list-style: none;
    padding: 0;
    margin: 0px;
}
/*(display)-> A propriedade CSS display especifica o tipo de caixa de renderização usada por um elemento. No HTML, os valores padrões da propriedade display são feitas a partir do comportamento descrito nas especificações HTML ou da folha de estilo padrão do navegador/usuário. */
.menu li{
    display: inline-block;
    border: 3px solid #ff0000;
    padding: 5px;
}
/*seletor de pseudo elemento
Em CSS, ::after cria um pseudo-elemento que é o último filho do elemento selecionado. Muitas vezes é usado para adicionar e melhorar o conteúdo de um elemento como a propriedade content . É inline por padrão.
#planos::after{
    content: "";
    display: block;
    clear: both;
}
*/